@import url("https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-delagothic: "Dela Gothic One", sans-serif;
  background-color: #f6f5f4;
}

.heading {
  font-family: var(--font-delagothic);
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}
